@model School_webapp.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.canBeSubmittedLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.canBeSubmittedLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
