@model School_webapp.Models.Student

@{
    ViewData["Title"] = "DeleteStudent";
}

<h1>DeleteStudent</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.schoolYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.schoolYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.section)
        </dd>
    </dl>
    
    <form asp-action="DeleteStudent" method="post">
        <input type="hidden" asp-for="id" />
        <input type="number" value="@Model.id" name="studentId" hidden/>
        <input type="submit" value="Delete" itemid="@ViewBag.id" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
