@model IEnumerable<School_webapp.Models.Student>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="AddStudents" asp-route-id="@ViewBag.classId">Add to class</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schoolYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schoolYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.section)
            </td>
            <td>
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-controller="Students" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-controller="Classes" asp-action="DeleteStudent" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
