@model School_webapp.Models.ActivityStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivityStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.canBeSubmittedLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.canBeSubmittedLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.submitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.submitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.activityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
