@model IEnumerable<School_webapp.Models.ActivityStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isRated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.canBeSubmittedLate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isLate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isRated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.canBeSubmittedLate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isLate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submitDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.activityStudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.activityStudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.activityStudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
