@model IEnumerable<School_webapp.Models.Activity>

@{
    ViewData["Title"] = "Index";
}
<style>
    form, button {
        display: inline-block;
    }
</style>
<h1>Index</h1>

@using System.Globalization;
@{
    CultureInfo culture = new CultureInfo("en-EU");
}

@{
    if (!User.IsInRole("Student"))
    {
        <p>
            <a asp-action="createActivity">Create New</a>
            <hr />
        </p>
    }
}
<div class="row justify-content-center">
    <div class="col-12">
        @foreach (var item in Model)
        {
            //if user is not student
            if (User.IsInRole("Student") && item.ispublic || User.IsInRole("Teacher") || User.IsInRole("Admin"))
            {
                string desc = @item.Description.Substring(0, Math.Min(200, item.Description.Length));
                if (item.Description.Length > 200)
                {
                    desc += "...";
                }
                <div class="d-inline">
                    <div class="float-start w-75">
                        <span class=""><a asp-action="ActivityStudents" asp-route-id="@item.activityId">@Html.DisplayFor(modelItem => item.Title)</a></span>
                        <br>
                        <p class="" style="color:gray; font-size:12px;">@desc</p>
                    </div>
                    <div class="float-end w-25 ">
                        <span class="badge @(DateTime.Today > item.deadline ? "bg-danger" : item.deadline.Subtract(DateTime.Today).Days <= 7? "bg-warning" : "bg-success") rounded">Deadline: @item.deadline.Date.ToString("D", culture)</span>
                        <div class="dropdown float-end ">
                            @{
                                if (!User.IsInRole("Student"))
                                {
                                    if (item.ispublic)
                                    {
                                        <form method="post">
                                            <button type="submit" class="fas fa-eye btn" asp-action="Unpublish" asp-route-id="@item.activityId" title="Unpublish"></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <button type="submit" class="fas fa-eye-slash btn" asp-action="Publish" asp-route-id="@item.activityId" title="Publish"></button>
                                        </form>
                                    }
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" asp-action="EditActivity" asp-route-id="@item.activityId">Edit</a></li>
                                        <li>
                                            <form method="post">
                                                <button class="dropdown-item" type="submit" asp-action="ActivityDeleteConfirmed" asp-route-id="@item.activityId" onclick="return showAlert()">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    function showAlert() {
        var respuesta = confirm("Are you sure? You will delete it permanently");
        if (!respuesta) {
            event.preventDefault();
        }
    }
</script>