@model IEnumerable<School_webapp.Models.Class>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if(!User.IsInRole("Student")){
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Teacher
            </th>
            <th>
                Subject
            </th>
            <th>
                Student List
            </th>
            <th>
                Activities
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{int i = 0;}
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @ViewBag.teacherList[i][2], @ViewBag.teacherList[i][1]
                </td>
            <td>
                    @ViewBag.subjectList[i][1] @ViewBag.subjectList[i][2]
                </td>
            <td>
                    <a class="btn btn-primary" asp-action="Students" asp-route-id="@item.Id">Students</a>
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="ActivityIndex" asp-route-id="@item.Id">Activities</a>
            </td>
            <td class="input-group">
                <a asp-action="Edit" class="btn btn-outline-primary me-2" asp-route-id="@item.Id">Edit</a>
                    <form method="post">
                        <button class="btn btn-outline-danger" type="submit" asp-action="DeleteConfirmed" asp-route-id="@item.Id" onclick="return showAlert()">Delete</button>
                    </form>
                </td>
        </tr>
        i++;
}
    </tbody>
    </table>
}
else
{
    <div class="cardview rounded-3" >
        @foreach(string[] str in ViewBag.classes)
        {
            <div class="col-4">
                <div class="card">
                    <a asp-action="ActivityIndex" asp-route-id="@str[0]" class="stretched-link"/>
                <div>
                    <h3>@str[1]</h3>
                </div>
            </div>
            </div>
        }
    </div>
}
<script>
    function showAlert() {
        var respuesta = confirm("Are you sure? You will delete it permanently");
        if (!respuesta) {
            event.preventDefault();
        }
    }
</script>